.welcome_row{

    height: 120px;
    background: #52d287;
}
.welcome {
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 300;
    line-height: 68px;
}
.user_name{
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
}
 img{
    border-radius: 50%;
}
.profile_button{
    margin: 5px;
    border: grey solid 1px;
}